# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directory used by jest
coverage

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Distribution files
dist

# Files for local development
sandbox
